<h1>Bienvenido al ecommerce-chat</h1>
<form action="chat" id="form-chat">
    
  <div>
    <label for="name">Nombre</label>
    <input type="text" id="input-name">
  </div>
   <div>
    <label for="msg">Mensaje</label>
    <textarea name="txt_mensaje" id="msg" cols="30" rows="10"></textarea>
  </div>

</form>

<script src="/socket.io/socket.io.js"></script>